
.headerBackground{
    background-color: rgb(4, 43, 119); 
}

.headerBackgroundTwo{
  background-color: white; 
  color: black;
  margin-left: 1%;
  padding-left: 30px;
  padding-right: 30px;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.headerBackgroundThree{
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.headerBackgroundFour{
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 2px solid white;
  padding-top: 7px;
  padding-bottom: 7px;
  align-items: center;
}

.header {
  display: flex;
  width: 80%;
  color: white;
  height: 90px;
  align-items: center;
  margin-left: 20%;
  margin-right: 15%;
}

.brand {
    font-size: 30px;
    font-weight: 700;

  } 

  .brandTwo
  {
    font-size: 17px;
    padding-left: 40px;
    
  }
  .brandThree
  {
    font-size: 17px;
    padding-left: 40px;
  }

  .brandFour {
    font-size: 17px;
    padding-left: 40px;
  }
  .brandFive {
    font-size: 17px;
    padding-left: 45px;
    padding-right: 100px;
  }